h1{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    margin: 0 auto;
    width: 300px;
    height: 400px;
    display: table;
     margin: 0 auto;
     border: 5px solid rgb(252, 252, 255);
}


a:link {
  color: rgb(194, 194, 207);
  background-color: transparent;
  text-decoration: none;
  text-decoration-line: underline;
}

#banner{
    background-color: rgb(235, 76, 65);
    border: 1px solid rgb(252, 252, 255);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
}

.navbar-default .navbar-fnt {
    color: #FFFFFF;
}

div.aboutMeP {
    text-indent: 50px;
}

div.aboutMeP::first-letter {
    font-size: 300%;
    font-weight: 500;
    color: aliceblue;
  }

  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(156, 16, 16);
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: #e04034;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #3d21dd;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #dcdaee69;
    padding: 20px;
}


h6 {
    display: list-item;
    list-style-type: disc;    
    list-style-position: inside;
    color: aliceblue;
    text-align: center;
    
}

h4{
    text-align: center;
    color: rgb(41, 46, 88);
}

